In [5]:
'''q1 :
ineruon 
ineruon ineruon 
ineruon ineruon ineruon
ineruon ineruon ineruon ineruon'''
n = int(input("Enter Integer Number :- "))
for i in range(n):
    for j in range(i):
        print("Ineuron",end = " ")
    print("\n")

Enter Integer Number :- 8


Ineuron

Ineuron Ineuron

Ineuron Ineuron Ineuron

Ineuron Ineuron Ineuron Ineuron

Ineuron Ineuron Ineuron Ineuron Ineuron

Ineuron Ineuron Ineuron Ineuron Ineuron Ineuron

Ineuron Ineuron Ineuron Ineuron Ineuron Ineuron Ineuron

In [16]:
'''q2 - 

          ineruon
    ineruon      ineruon
ineruon		ineruon 	ineruon
	ineruon		 ineruon
		  ineruon'''
n = 3
k= n-1
for i in range(n-1):
    for j in range(i,n):
        print(len("ineuron") * " ",end = " ")
    for j in range(i):
        print("ineuron",end= " ")
    for j in range(i+1):
        print("ineuron",end= " ")
    print(" ")
for i in range(n):
    for j in range(i+1):
        print(len("ineuron") * " ",end = " ")
    for j in range(i,n-1):
        print("ineuron",end = " ")
    for j in range(i,n):
        print("ineuron",end = " ")
    print(" ")

                        ineuron
                ineuron ineuron ineuron
        ineuron ineuron ineuron ineuron ineuron
                ineuron ineuron ineuron
                        ineuron

In [1]:
l = [[1,2,3,4] , (2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) , {'k1' :"sudh" , "k2" : "ineuron","k3":"kumar" , 3:6 , 7:8} , ["ineuron" , "data science "]]

In [12]:
# q3 : Try to extract all the list entity
for i in l:
    if type(i) == list:
        print(i)

[1, 2, 3, 4]
['ineuron', 'data science ']

In [28]:
# q4 : Try to extract all the dict enteties
for i in l:
    if type(i) == dict:
        print(i)

dict_keys(['k1', 'k2', 'k3', 3, 7])

In [14]:
# q5 : Try to extract all the tuples entities
for i in l:
    if type(i) == tuple:
        print(i)

(2, 3, 4, 5, 6)
(3, 4, 5, 6, 7)

In [39]:
# q6 : Try to extract all the numerical data it may b a part of dict key and values 
for i in l:
    for j in i:
        if type(j)== int:
            print(j)
    if type(i) == dict:
        for k in i.values():
            if type(k) == int:
                print(k)

1
2
3
4
2
3
4
5
6
3
4
5
6
7
45
4
5
23
3
7
6
8

In [41]:
# q7 : Try to give summation of all the numeric data 
Sum = 0
for i in l:
    for j in i:
        if type(j)== int:
            Sum = Sum +j
    if type(i) == dict:
        for k in i.values():
            if type(k) == int:
                Sum = Sum +k
print(Sum)

156

In [46]:
# q8 : Try to filter out all the odd values out all numeric data which is a part of a list
for i in l:
    if type(i) == list:
        for j in i:
            if type(j) == int:
                if j%2!=0:
                    print(j)

1
3

In [27]:
# q9 : Try to extract "ineruon" out of this data
for i in l:
    for j in i:
        if j == 'ineuron':
            print(j)
    if type(i) ==dict:
        for j in i.values():
            if j == 'ineuron':
                print(j)

ineuron
ineuron

In [30]:
# q10 :Try to find out a number of occurances of all the data 
new_list = []
for i in l:
    for j in i:
        new_list.append(j)
    if type(i) == dict:
        for j in i.values():
            new_list.append(j)
            
for k in new_list:
    print(k,":",new_list.count(k))

1 : 1
2 : 2
3 : 4
4 : 4
2 : 2
3 : 4
4 : 4
5 : 3
6 : 3
3 : 4
4 : 4
5 : 3
6 : 3
7 : 2
45 : 1
4 : 4
5 : 3
23 : 1
k1 : 1
k2 : 1
k3 : 1
3 : 4
7 : 2
sudh : 1
ineuron : 2
kumar : 1
6 : 3
8 : 1
ineuron : 2
data science  : 1

In [51]:
# q11 : Try to find out number of keys in dict element
total_key = 0
for i in l:
    if type(i) == dict:
         for i in i.keys():
            total_key +=1
print(total_key)

5

In [52]:
# q12 : Try to filter out all the string data 
for i in l:
    for j in i:
        if type(j) == str:
            print(j)

k1
k2
k3
ineuron
data science

In [4]:
# q13 : Try to Find out alphanum in data
for i in l:
    for j in i:
        if type(j) == str:
            if j.isalnum() == True:
                print(j)

k1
k2
k3
ineuron

In [21]:
# q14 : Try to find out multiplication of all numeric value in  the individual collection inside dataset 
list_count=1
for i in l:
    if type(i) == list:
        for j in i:
            if type(j)==int:
                list_count= list_count*j
        print("List Multiplication :- ",list_count)
        list_count=1
    elif type(i) == tuple:
        for j in i:
            if type(j)==int:
                list_count= list_count*j
        print("tuple Multiplication :- ",list_count)
        list_count=1
    elif type(i) == set:
        for j in i:
            if type(j)==int:
                list_count= list_count*j
        print("set Multiplication :- ",list_count)
        list_count=1
    elif type(i) == dict:
        for j in i:
            if type(j) == int:
                list_count= list_count*j
        for j in i.values():
            if type(j) == int:
                list_count= list_count*j
        print("Dict Multiplication :- ",list_count)
        list_count=1

List Multiplication :-  24
tuple Multiplication :-  720
tuple Multiplication :-  2520
set Multiplication :-  20700
Dict Multiplication :-  1008
List Multiplication :-  1

In [25]:
# q15 : Try to unwrape all the collection inside collection and create a flat list 
new_list = []
for i in l:
    for j in i:
        new_list.append(j)
    if type(i) == dict:
        for j in i.values():
            new_list.append(j)
print(new_list)

[1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23, 'k1', 'k2', 'k3', 3, 7, 'sudh', 'ineuron', 'kumar', 6, 8, 'ineuron', 'data science ']